# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/*

# Environment
.env

# Logs
*.log

# macOS metadata
.AppleDouble
.LSOverride

# Streamlit

.streamlit/secrets.toml

# requirements
requirements_lock.txt